@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg {
  background-color:hsla(167,61%,22%,1);
  background-image:
    radial-gradient(at 53% 14%, hsla(252,16%,7%,1) 0px, transparent 50%),
    radial-gradient(at 14% 67%, hsla(225,39%,30%,1) 0px, transparent 50%),
    radial-gradient(at 95% 65%, hsla(101,49%,30%,1) 0px, transparent 50%);
}

.green-glassmorphism {
  background: rgba(53, 141, 87, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid aquamarine;
}

.eth-card {
  background-color:#ffc999;
  background-image:
  radial-gradient(at 69% 89%, hsla(160,61%,70%,1) 0px, transparent 50%),
  radial-gradient(at 77% 31%, hsla(206,93%,76%,1) 0px, transparent 50%),
  radial-gradient(at 88% 90%, hsla(218,91%,61%,1) 0px, transparent 50%),
  radial-gradient(at 23% 16%, hsla(219,92%,61%,1) 0px, transparent 50%),
  radial-gradient(at 25% 78%, hsla(158,77%,78%,1) 0px, transparent 50%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(47, 55, 52) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;